* {
    padding: 0;
    margin: 0
}

.grid_container {
    display: grid;
    grid-template-areas: "aside order_by order_by"
        "aside main main"
        "footer main main";
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 2fr 5fr 5fr;
    height: 100vh;
}

.order_by{
    padding: ;
display: flex;
background-color: #c7aaac;
grid-area: order_by;
justify-content: center;
align-items: center;

}

header {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    background-color: #99787b;

}

aside {
    color: white;
    grid-area: aside;
    background-color: #99787b;

aside h3{
    color: black;
}



}

main {
    grid-area: main;



}

footer {
    grid-area: footer;
    background-color: #8b3038;

}

.grid_categoria {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 5em;
    justify-content: space-around;

}

.grid_main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
}

li {
    padding: 5px;
}

.productos_card {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 150;
    flex-direction: column;
    align-items: center;
    padding: 1em;

}
.productos_card img{

    border: 1px;
    padding: 10px;
}
.precio{
    padding: 2em;
}