* {
    padding: 0;
    margin: 0
}

.grid_container {
    display: grid;
    grid-template-areas: "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 2fr 4fr 4fr;
    height: 100vh;

}

header {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    background-color: #99787b;

}

aside {
    grid-area: aside;
    background-color: #99787b;


}

main {
    grid-area: main;



}

footer {
    grid-area: footer;
    background-color: #99787b;

}

.grid_categoria {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 5em;
    justify-content: space-around;

}

.grid_main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
}

li {
    padding: 5px;
}

.productos_card {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 150;
    flex-direction: column;
    align-items: center;
    padding: 1em;

}
.productos_card img{

    border-radius:45%;
    padding: 10px;
}
.precio{
    padding: 2em;
}